@font-face { font-family: "Inter"; src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap"); }
*, h1, h2, h3, h4, h5, h6, ul, li, p { margin: 0; padding: 0; box-sizing: border-box; font-family: "Inter", "sans-serif"; font-weight: 500; }

dl, ol, ul { margin-top: 0; margin-bottom: 0; }

body { max-width: 1920px; margin: 0 auto; width: 100vw; height: auto; }

a { color: black !important; text-decoration: none !important; }

a:hover { color: red !important; }

header { overflow: hidden; background-color: #fff; }

.fixed { position: fixed; z-index: 99; width: 100vw; box-shadow: 0 0 6px #f1f1f1; }

.inner { max-width: 1200px; width: 100%; margin: 0 auto; }

.header-section { width: 100%; position: relative; }
.header-section .inner { min-height: 80px; width: 100%; margin: 0 auto; }
.header-section .inner .menu .menu-cate { display: flex; }
.header-section .inner .menu .menu-cate .list-categories { width: 65%; }
.header-section .inner .menu .menu-cate .list-categories a { margin: auto; }
.header-section .inner .menu .menu-cate .change-stuff { width: 35%; }
.header-section .inner .menu .menu-cate .change-stuff .change-language { position: relative; cursor: pointer; margin: auto; }
.header-section .inner .menu .menu-cate .change-stuff .change-language svg { margin-left: 4px; position: absolute; top: 50%; transform: translateY(-50%); }
.header-section .inner .menu .menu-cate .change-stuff .action-login-register { margin: auto; }
.header-section .inner .menu .menu-cate .change-stuff .action-login-register button { cursor: pointer; width: 116px; height: 38x; border-radius: 22px; font-size: 16px; line-height: 30px; }
.header-section .inner .menu .menu-cate .change-stuff .action-login-register button:first-child { border: none; color: #fff; background-image: linear-gradient(90deg, #3bb54a 0%, #7ec341 100%); box-sizing: border-box; border: 1.5px solid #3bb54a; }
.header-section .inner .menu .menu-cate .change-stuff .action-login-register button:last-child { border: 1.5px solid #3bb54a; box-sizing: border-box; color: #3bb54a; }

body .stuff { padding-top: 68px; }

.introduction { min-height: 552px; color: #fff; z-index: 10; overflow: hidden; background-position: bottom; background-repeat: no-repeat; }
.introduction .slide { position: relative; }
.introduction .slide .carousel-item { height: 553px; }
.introduction .slide .carousel-item img { height: 100%; visibility: visible; }
.introduction .slide .inner { position: absolute; top: 0; }
.introduction .slide .inner .text-intro { position: relative; display: block; color: #2f4858; width: 40%; z-index: 9999; font-weight: 700; font-size: 38px; }
.introduction .slide .inner .text-intro span { font-weight: 700; color: #3bb54a; }
.introduction .slide .inner .text-intro .btn-trial-free { cursor: pointer; background-color: #3bb54a; color: #fff; border: none; left: 0%; margin-top: 80px; position: absolute; border-radius: 36px; height: 48px; width: 242px; font-size: 20px; }
.introduction .slide .inner .text-intro .btn-trial-free:hover { color: #2f4858 !important; }

.benefit-intro { width: 100%; min-height: 700px; background-color: #fafafa; }
.benefit-intro .container h2 { padding-top: 60px; text-align: center; font-weight: 700; }
.benefit-intro .container h2 span { font-weight: 700; color: #3bb54a; }
.benefit-intro .container h6 { text-align: center; margin: 10px 0 60px 0; }
.benefit-intro .container .slide-carousel { position: relative; width: 100%; justify-content: center; margin-top: 60px; margin-left: 0 !important; }
.benefit-intro .container .slide-carousel .intro { opacity: 0.7; margin: 20px 120px 0 120px; min-height: 360px; text-align: center; background: #ffffff; border-radius: 10px; width: 300px; box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25); cursor: pointer; user-select: none; }
.benefit-intro .container .slide-carousel .intro img { margin-top: 24px; width: 160px; height: auto; }
.benefit-intro .container .slide-carousel .intro h3 { font-weight: 700; margin-top: 20px; font-size: 20px; color: #3bb54a; }
.benefit-intro .container .slide-carousel .intro p { padding-top: 20px; margin: 0 10px; font-weight: 500; }
.benefit-intro .container .slide-carousel .intro.center { opacity: 1; margin-top: 0; position: absolute; min-height: 400px; z-index: 10; }

.feature-insite { display: block; padding-top: 40px; background-color: #ffffff; min-height: 550px; }
.feature-insite .inner .feature-header { margin-bottom: 40px; }
.feature-insite .inner .feature-header ul li { cursor: pointer; list-style-type: none; animation-name: fadeIn; animation-duration: 2s; }
.feature-insite .inner .feature-header ul li img:nth-child(1) { display: block; margin: 0 auto; }
.feature-insite .inner .feature-header ul li img:nth-child(2) { display: none; }
.feature-insite .inner .feature-header ul li p { font-weight: 600; font-size: 15px; margin-bottom: 10px; }
.feature-insite .inner .feature-header ul li.active { color: #3bb54a; }
.feature-insite .inner .feature-header ul li.active img:nth-child(2) { display: block; margin: 0 auto; }
.feature-insite .inner .feature-header ul li.active img:nth-child(1) { display: none; }
.feature-insite .inner .feature-header ul li.active hr { visibility: visible; }
.feature-insite .inner .feature-header ul li.active img { color: #fafafa; }
.feature-insite .inner .feature-content .content { display: none; }
.feature-insite .inner .feature-content .content .main-content { padding: 20px 20px 0 0; font-size: 16px; line-height: 24px; }
.feature-insite .inner .feature-content .content .main-content h3 { font-weight: 700; font-size: 20px; margin-bottom: 20px; }

.price-list-product { min-height: 600px; position: relative; }
.price-list-product .inner h2 { padding-top: 60px; text-align: center; font-weight: 700; }
.price-list-product .inner h2 span { font-weight: 700; color: #3bb54a; }
.price-list-product .inner h6 { text-align: center; margin: 10px 0 60px 0; }
.price-list-product .inner .price-list-items { margin-left: 0px; }
.price-list-product .inner .price-list-items .price-item { width: 100%; justify-content: center; position: relative; min-height: 550px; background: #ffffff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8px; }
.price-list-product .inner .price-list-items .price-item .choose-hover { position: absolute; left: 0%; opacity: 0.7; background-color: #f5f6f9; width: 100%; height: 200px; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; z-index: 30; text-align: center; }
.price-list-product .inner .price-list-items .price-item .choose-hover h3 { font-size: 28px; padding-top: 40px; font-weight: 700; }
.price-list-product .inner .price-list-items .price-item .choose-hover h3.advanced-pack { color: #f9c52c; }
.price-list-product .inner .price-list-items .price-item .choose-hover p { font-weight: 400; font-size: 15px; padding: 10px 20px; }
.price-list-product .inner .price-list-items .price-item .choose-hover h2 { padding-top: 20px; font-size: 36px; }
.price-list-product .inner .price-list-items .price-item .choose-hover:hover { opacity: 1; color: #fff; background-color: #3bb54a; }
.price-list-product .inner .price-list-items .price-item ul { padding: 240px 0 20px 60px; }
.price-list-product .inner .price-list-items .price-item ul li { font-size: 15px; line-height: 24px; list-style-type: circle; margin-bottom: 10px; color: #4A6069; }
.price-list-product .inner .price-list-items .price-item .footer-pack { padding-top: 40px; border-top: dotted #BDBDBD; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); }
.price-list-product .inner .price-list-items .price-item .footer-pack button { width: 215px; height: 48px; background: #3BB54A; border-radius: 36px; color: #fff; border: none; }
.price-list-product .inner .price-list-items .price-item-intro { width: auto; }
.price-list-product .inner .price-list-items .price-item-intro img { display: block; margin: 0 auto; }
.price-list-product .inner .price-list-items .price-item-intro p { font-style: italic; font-size: 16px; }
.price-list-product .inner .price-list-items .price-item-intro p span { color: red; }

@media (max-width: 1199px) { .benefit-intro { display: none; }
  .feature-insite { display: none; }
  .price-list-product .inner h2 { font-size: 24px; }
  .price-list-product .price-item-intro { margin-top: 20px; }
  .price-list-product .price-item-intro img { width: 80%; height: 80%; }
  .price-list-product .price-item-intro p { padding: 0 20px; }
  .price-list-product .price-item { margin: 40px 40px 0 40px; }
  .price-list-product .price-item .choose-hover h3 { font-size: 28px; padding-top: 40px; font-weight: 700; }
  .price-list-product .price-item .choose-hover p { font-weight: 400; font-size: 15px; }
  .price-list-product .price-item .choose-hover h2 { padding-top: 0px !important; font-size: 24px; }
  .header-section .inner .menu .menu-cate { display: none; }
  .introduction { min-height: 600px; background-image: url("https://i.ibb.co/Mp6qhgM/v-Salon-export.png"); background-position: left; height: 100%; background-size: cover; }
  .introduction .slide .inner { top: 10% !important; left: 12% !important; position: absolute; }
  .introduction .slide .inner .text-intro { width: 50%; font-size: 36px; }
  .introduction .slide .inner .text-intro .btn-trial-free { margin-top: 80px; font-size: 20px; }
  .introduction .slide .carousel-item { height: 400px; }
  .introduction .slide .carousel-item img { height: 100%; visibility: hidden; }
  .benefit-intro .container .slide-carousel .intro img { width: 80%; height: 80%; }
  .benefit-intro .container .slide-carousel .intro:hover { cursor: pointer; transform: scale(1.3); transition: 0.3s ease; } }
@media (max-width: 919px) { .introduction { min-height: 360px; background-position: center; } }
/* Large devices (tablet, 992px and down) */
@media (max-width: 768px) { .introduction { min-height: 360px; background-position: left; }
  .intro.center { position: none; } }
@media (min-width: 576px) and (max-width: 768px) { .introduction { min-height: 280px; }
  .introduction .slide .inner { top: 10% !important; left: 12% !important; }
  .introduction .slide .inner .text-intro { width: 50%; font-size: 24px; }
  .introduction .slide .inner .text-intro .btn-trial-free { margin-top: 60px; font-size: 20px; }
  .introduction .slide .carousel-item { height: 360px; } }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { .introduction { background-position: left; }
  .introduction { min-height: 280px; }
  .introduction .slide .inner { top: 10% !important; left: 5% !important; }
  .introduction .slide .inner .text-intro { width: 60%; font-size: 24px; }
  .introduction .slide .inner .text-intro .btn-trial-free { margin-top: 60px; font-size: 18px; height: 48px; width: 200px; }
  .introduction .slide .carousel-item { height: 300px; } }
@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

/*# sourceMappingURL=style.css.map */
